*, *::after, *::before {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
  border: 0;
  position: absolute !important;
}

/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("cuprum"),
       url("../fonts/cuprum.woff") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprum.woff") format("woff"); /* Modern Browsers */
}

/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("cuprumbold"),
       url("../fonts/cuprumbold.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprumbold.woff") format("woff"); /* Modern Browsers */
}

/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("cuprumitalic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprumitalic.woff") format("woff"); /* Modern Browsers */

}

/* cuprum-700italic - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("cuprumbolditalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/cuprumbolditalic.woff") format("woff"); /* Modern Browsers */
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("ptsans"),
       url("../fonts/ptsans.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ptsans.woff2") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("ptsansbold"),
       url("../fonts/ptsansbold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../fonts/ptsansbold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  /* ! background? */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.page {
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  color: #32425c;
  background-color: #f3f7f9;
  min-height: 320px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top-flex {
  display: flex;
  flex-direction: row;
  min-height: 42px;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  margin-bottom: 46px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.bookmark,
.cart {
  color: #ffffff;

}

.bookmark:hover,
.cart:hover,
.bookmark:focus,
.cart:focus {
  background-color: #212a3a;
}

.bookmark:active,
.cart:active {
  opacity: 0.6;
}

.logo {
  display: block;
  width: 220px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  background-color: #ee3643;
  padding-top: 14px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.logo__img {
}
.search {
}
.search__input {
  background-color: #293449;
  border: none;
}

.search__input::placeholder {
  color: #ffffff;
}

.search__input:hover {
  background-color: #212a3a;
}

.search__input:active,
.search__input:focus {
  background-color: #ffffff;
}


.search__btn {
  background-color: #293449;
}


.bookmark {
}
.bookmark__count {
}

.btn {
  display: inline-block;
  height: 38px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
}

.header-top__btn {
  font-size: 17px;
  line-height: 18px;
  text-transform: none;
  background-color: #5fbb2d;
  color: #ffffff;
  border-radius: 0;
}

.header-top__btn:hover,
.header-top__btn:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-top__btn:active {
  background-color: #63a63e;
  color: #ffffff;
}

.account__btn {
  padding: 15px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;
  border-radius: 0;
}

.account__btn:focus,
.account__btn:hover {
  color: #ee3643;
}

.account__btn--username:hover,
.account__btn--username:focus,
.account__btn--logout:hover,
.account__btn--logout:focus {
  color: #000000;
}

.account__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.btn--color-red,
.btn--current {
  background-color: #ee3643;
  color: #ffffff;
}

.btn--color-red:hover,
.btn--color-red:focus {
  background-color: #ca2c37;
}

.btn--color-red:active {
  background-color: #ba2732;
}

.product__btn {
  width: 135px;
  height: 38px;
  margin: 0 auto 7px;
  padding: 8px 0;
  background-color: #63a63e;
  color: #ffffff;
}

.product__btn:hover,
.product__btn:focus {
  background-color: #5fbb2d;
}

.product__btn:active {
  background-color: #518534;
}

.product__btn--border {
  color: #32425c;
  background-color: transparent;
  border: 3px solid #63a63e;
}

.product__btn--border:hover,
.product__btn--border:focus {
  background-color: transparent;
  color: #32425c;
  border: 3px solid #32425c;
}

.product__btn--border:active {
  background-color: transparent;
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid #c1c6ce;
}

.services-slider__btn {
  width: 195px;
}

.about-company__btn {
  width: 220px;
  margin-top: 17px;
}

.contact__btn {
  width: 300px;
}


.btn--theme-catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  border: 1px solid #e5e5e5;
}

.btn--theme-catalog:hover,
.btn--theme-catalog:focus {
  border: 1px solid #bdc6ca;
}

.btn--theme-catalog:active {
  border: 1px solid #ee3643;
}

.btn--current {
}

.cart {
  height: 100%;
}
.cart__count {
}

.checkout {
}

.header-middle {

}

.header__desc {
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.header-contact {
}
.header-contact__phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.header-contact__address {
  color: #32425c;
}
.account {
}

.header-bottom {
  margin-bottom: 60px;
}

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}

.main-nav {
  display: flex;
  align-items: center;
  min-height: 60px;
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
}

.main-nav a {
  color: #ffffff;
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: #293449;
}

.main-nav a:active {
  opacity: 0.5;
}

.account__item:first-child,
.site-nav {
  list-style: none;
}

.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.site-nav__item {
}
.site-nav__link {
  padding: 20px 31px 20px;
}
.main {
}

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
  padding-top: 59px;
  min-height: 520px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.promo__items {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo__items--color-yellow {
  background-color: #ffbf47;
}

.new::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  right: 0;
  z-index: 1;
  background-image: url(/img/new-flag.png);
  background-repeat: no-repeat;
}
.promo__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
}
.promo__link {
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.promo__link:hover,
.promo__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo__items--color-blue {
  background-color: #3bbce3;
}
.promo__items--color-pink {
  background-color: #dc91d8;
}

.slider {
  position: relative;
  width: 620px;
  min-height: 266px;
  background-color: #CAB9AC ;
}
.slider__prev {
}
.slider__next {
}
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider__item {
  position:absolute;
}
.slider__item-1 {
}
.slider__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.slider__text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
}
.slider__img {
}
.slider__item-2 {
  display: none;
}

.promo__items--color-green {
  background-color: #8ed78f;
}
.popular-product {
  margin-bottom: 20px;
  min-height: 450px;
}

.popular-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  min-height: 89px;
  padding-left: 24px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.popular__title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular__btn {
  display: block;
  padding: 10px 0;
  width: 253px;
  height: 38px;
}
.popular-product__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.popular-product__item {
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  min-height: 318px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  padding-bottom: 21px;
  text-align: center;
  border: 1px solid #eaeaea;
}

.product:hover {
  box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -webkit-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -moz-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
}

.product--hover {
  width: 215px;
  height: 180px;
  padding-bottom: 20px;
  position: absolute;
  /* background-color: rgba(255,255,255,.9); */
  background-color: #ffffff;
  /* z-index: 10; */
  display: none;
  /* display: block; */
}

.product:hover .product--hover,
.product:focus .product--hover {
  display: block;
}


.product__img {
}
.product__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}
.product__price--old {
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  color: #a9a9a9;
}

.product__price {
  position: relative;
  width: 141px;
  height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  color: #ffffff;
  background-color: #ee3643;
}

.product__price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.popular-manufacturers {
  min-height: 505px;
  padding-bottom: 65px;
}
.popular__title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-manufacturers__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers__item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 20px;
}

.popular-manufacturers__item:hover,
.popular-manufacturers__item:focus {
  box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -webkit-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -moz-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
}

.popular-manufacturers__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.popular-manufacturers__link:active  {
  opacity: 0.3;
}

.popular-manufacturers__img {
}
.services {
  min-height: 520px;
  padding-top: 68px;
  background-color: #f4f8fa;
}
.services__title {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.services__text,
.services-slider__text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__text {
  margin-bottom: 67px;
}

.services-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-label-container {
  display: flex;
  flex-direction: column;
  width: 240px;

}

.services-slider__label {
  width: 240px;
  height: 61px;
  padding-top: 15px;
  padding-left: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  background-color: #32425c;
  cursor: pointer;
}

.services-slider__label:hover,
.services-slider__label:focus {
  background-color: #293449;
}

input[type="radio"]:checked + .services-slider__label {
  color: #32425c;
  background-color: #ffffff;
}

.services-slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-slider__item {
  width: 620px;
  background-position-x: right;
}

.services-slider__item-1 {
  background-image: url(/img/car.png);
  background-repeat: no-repeat;
  /* background-position: ; */
}

.services-slider__title {
  margin: 0;
  padding: 0;
  color: #32425c;
  font-size: 36px;
  margin-bottom: 25px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}
.services-slider__text {
}
.services-slider__item-2 {
  background-image: url(/img/garant.png);
  background-repeat: no-repeat;
}
.services-slider__item-3 {
  background-image: url(/img/cash.png);
  background-repeat: no-repeat;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: #ffffff;
}

.about-company {
  width: 540px;
  min-height: 535px;
  padding-top: 83px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.contact {
 width: 300px;
}

.about-company__title,
.contact__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.about-company__text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.partners {
}
.partners__text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}
.partners__list {
  margin: 0;
  padding: 0;
  margin-left: 37px;
  list-style: none;
}
.partners__item {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
}

.partners__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.contact__title {
}

.contact__text {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.map {
  display: block;
  height: 158px;
  margin-bottom: 40px;
}

.map__img {
}

.footer {
  min-height: 300px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__top {
  min-height: 195px;
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}
.footer__about {
}
.footer__logo {
  height: 68px;
  padding-top: 20px;
  margin-bottom: 28px;
}
.footer__contact {
}
.footer__address {
  margin: 0;
  padding: 0;
}
.footer__phone {
  color: #f3f7f9;
}
.footer__nav {
  width: 550px;
}
.footer-nav {
}
.footer-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0;
  margin-top: 38px;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  margin-left: 59px;
}
.footer-nav__link {
  color: #f1f5f7;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
  text-decoration: underline;
}

.footer-nav__link:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-nav__list-2 {
  margin-top: 35px;
}

.footer-nav__link--color-gold {
  color: #ffd180;
}

.footer-nav__link--color-gold:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer__bottom {
  padding-top: 35px;
  color: #ffffff;
  min-height: 107px;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.copyright {
  margin: 0;
  padding: 0;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
.social__item {
  list-style: none;
}
.socicon {
  color: #ffffff;
  background-color: #212a3a;
}

.socicon:hover,
.socicon:focus,
.socicon:active {
  color: #ffffff;
  background-color: #ee3643;
}

.socicon__vk {
}
.socicon__facebook {
}
.socicon__instagram {
}
.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}
.feedback__title {
  margin: 0;
  padding: 0;
}

.feedback__link {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.feedback__link:hover,
.feedback__link:focus {
  text-decoration: underline;
}

.feedback__link:active {
  text-decoration: none;
  color: #ee3643;
}

.form {
}
.cart--full {
  background-color: #ee3643;
}

.account__username {

}

.account__logout {
}
.account__menu {
  margin: 0;
  padding: 0;
}

.account__item {
  display: inline;
}
.account__link {
  color:#32425c;
  text-decoration: underline;
}

.account__link:hover,
.account__link:focus {
  color:#ee3643;
}

.account__link:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 16px;
  list-style: none;
  text-transform: uppercase;
}
.breadcrumb__item {
  margin-right: 45px;
}
.breadcrumb__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:#000000;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog__title {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.catalog__filter {
  width: 220px;
}
.filter {
}
.filter__form {
}

.filter__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter__title,
.sort__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.sort__title {
  margin-bottom: 0;
}

.filter__subtitle {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.range-slider {
}
.range-slider-track {
}
.range-slider-pin {
}
.range-slider-pin-min {
}
.range-slider-pin-max {
}

.filter__list {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.filter__item {
}

.catalog__content-wrapper {
  width: 700px;
}

.catalog__sort {
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}


.sort__list {
  display: flex;
  flex-direction: row;
  min-width: 460px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort__item {
}
.sort__btn {
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline dotted red;
  border: none;
  background-color: transparent;
}

.sort__btn:hover,
.sort__btn:focus {
  color: #000000;
  text-decoration: underline solid red;
}


.sort__btn--current {
  color: #ee3643;
  text-decoration: none;
}

.sort__btn--arrow-up {

}

.sort__btn--arrow-down {

}

.catalog__content {
}
.catalog__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__item {
}
.pagination {
}
.pagination__item {
}

.catalog-info {
  background-color: #f2f6f8;
}
.catalog-info__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.catalog-info__text {
  font-family: "PT Sans", "Arial", sans-serif;
}
.modal-cart {
  width: 620px;
  min-height: 282px;
  padding-top: 65px;

}
.modal-cart__title {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-bottom: 70px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.modal-cart__btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 112px;
  background-color: #f1f1f1;
  padding-top: 33px;
}

.modal-cart__btn {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal {
  margin: 0 auto;
  position: relative;
  /* position: fixed; */
  /* z-index: -1; */
  border-top: 7px solid #ff5257;
  box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -webkit-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
  -moz-box-shadow: 0 0 25px 0px rgba(41,52,73,0.5);
}
.modal__map {
  position: relative;
  width: 940px;
  height: 446px;
  border-top: none;
}

.modal__map iframe {
}
.modal__map img {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 9px;
}
.write-us {
  position: relative;
  width: 620px;
  min-height: 430px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.modal__container {
  width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 47px;
}

.write-us__form {
}
.write-us__title {
  display: block;
  width: 220px;
  font-size: 18px;
}

.write-us__input {
  width: 100%;
  min-height: 38px;
  margin-top: 8px;
  margin-bottom: 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.write-us__input:hover {
  color: #999999;
  border-color: #b5b5b5;
  outline: none;
}

.write-us__input:focus,
.write-us__input:active {
  color: #999999;
  border-color: #ee3643;
  outline: none;
}

.write-us__text {
  width: 100%;
  resize: none;
}

.write-us__textarea {
  resize: none;
  min-height: 114px;
  padding: 7px 14px;
}

.write-us__btn-container {
  min-height: 112px;
  padding-top: 50px;
  background-color: #f4f4f4;
  padding-left: 80px;
  padding-right: 80px;
}
.write-us__btn {
  padding-top: 10px;
  width: 100%;
}

.write-us__btn-close {
  /* position: absolute;
  top: 0;
  right: 0; */
}
